@import '../../theme.scss';

._title {
    > .cornflower-main-title-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        > ._title-group {
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            text-transform: uppercase;

            > ._title {
                margin-right: 10px;
                font-size: 14px;
                font-weight: 700;
                color: $cornflower-text-color;
            }

            > ._action-item {
                font-size: 12px;
                font-weight: 600;
                color: $cornflower-brand-color;
            }

            > .cornflower-action-button {
                border: 1px solid $cornflower-brand-color;
                border-radius: 4px;
                box-sizing: border-box;
                padding: 5px 15px;
                min-width: 140px;
                min-height: 30px;
                background-color: white;
                color: $cornflower-brand-color;
                font-weight: 300;
                font-size: 10px;
                font-family: inherit;
                text-transform: uppercase;
            
                &[data-highlight] {
                    border-color: $cornflower-brand-color;
                    background-color: $cornflower-brand-color;
                    color: white;
                    margin-right: 5px;
                }
            }

            > .cornflower-alert-button {
                border: 1px solid $cornflower-brand-color;
                border-radius: 4px;
                box-sizing: border-box;
                padding: 1px;
                margin-right: 5px;
                min-width: 20px;
                min-height: 20px;
                background-color: white;
                color: $cornflower-brand-color;
                font-weight: 300;
                font-size: 16px;
                font-family: inherit;
                text-transform: uppercase;
            }
        }

        .cornflower-searchbox {
            position: relative;
        
            > input {
                display: block;
                box-sizing: border-box;
                width: 100%;
                height: 24px;
                border: 1px solid $cornflower-tertiary-text-color;
                border-radius: 20px;
                background-color: #fff;
                padding: 0 30px 0 20px; // override defaults
                line-height: 24px;
                font-weight: 300;
                font-size: 12px;
                font-family: inherit;
                color: $cornflower-secondary-text-color;
        
                &::placeholder {
                    color: $cornflower-tertiary-text-color;
                }
            }
        
            > ._icon {
                position: absolute;
                top: 50%;
                right: 8px;
                margin-top: -(16px / 2);
                font-size: 16px; // icon size
                color: $cornflower-tertiary-text-color;
                pointer-events: none;
            }
        }

        > ._searchbar {
            flex: 0 0 auto;
            width: 200px;
        }
    }
}

