{
    "extends": "stylelint-config-standard",
    "rules": {
        "declaration-empty-line-before": [ "always", { "except": "first-nested", "ignore": [ "after-declaration", "after-comment" ] } ],
        "indentation": 4,
        "no-descending-specificity": null
    }
}
