$brand-color: #092932;
$text-color: #000;
$secondary-text-color: #fff;
$spacing: 40px;
$gutter: 60px;

$yellow: #feca49;
$red: #d9452b;
$turquoise: #17a0d0;
$light-turquoise: #c5e7f3;
$salmon: #f09c85;
$light-gray: #ecf1f1;
$dark-gray: #a0a0a0;
$darkest-gray: #6b6b6b;
$light-green: #d6e6e0;
$medium-bluegray: #606588;
$dark-bluegray: #2b3260;
$light-green: #24b324;

$facebook-blue: #3b5998;
$facebook-text-color: #1d2129;
$facebook-secondary-text-color: #606770;
$facebook-like-comment-share: #616770;

$linkedin-blue: #0077b5;
$linkedin-black: #181819;
$linkedin-dark-gray: #666;
$linkedin-medium-gray: #86888a;
$linkedin-light-gray: #e6e9ec;
$linkedin-website: #616263;
$linkedin-post-text: #404040;

$twitter-blue: #1dcaff;

$isTablet: "(max-width: 1024px)";

$cornflower-brand-color: #6580ff;
$cornflower-text-color: #373a3f;
$cornflower-secondary-text-color: #999b9e;
$cornflower-tertiary-text-color: #dddee0;
$cornflower-gutter: 40px;

$cornflower-gainsboro: #999b9e;
$cornflower-lightgray: #d1d1d1;
$cornflower-whitesmoke: #ecedef;
$cornflower-snow: #f9f9f9;
$cornflower-error: #d9452b;
