@import '../theme.scss';

.add-contacts {
    > ._header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        height: 50px;
        background-color: $darkest-gray;

        > ._searchbar {
            width: 200px;
        }
    }

    > table {
        border: 1px solid $dark-gray;
        border-spacing: 0; // override user agent style on child elements
        border-collapse: collapse;
        width: 100%;
        background: #fff;

        > thead {
            border: none;
            background-color: $dark-gray;

            > tr {
                height: 40px;

                > th {
                    border: none;
                    padding-right: 10px;
                    color: #fff;
                    font-weight: 500;
                    text-align: left;

                    &:first-child {
                        padding-left: 10px;
                    }
                }
            }
        }

        > tbody {
            > tr {
                box-sizing: border-box;
                border-bottom: 1px solid $dark-gray;

                &[data-selected=true] {
                    background-color: $light-turquoise;
                }

                > td {
                    padding: 10px 10px 10px 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &._name {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        > ._image {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 10px;
                            border-radius: 50%;
                            border: 1px solid $dark-gray;
                            height: 30px;
                            width: 30px;
                            overflow: hidden;
                            background-color: $light-gray;

                            > svg {
                                color: $dark-gray;
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}
