@import '../theme.scss';

.dropdown {
    position: relative;
    display: block;
    max-width: 150px;
    cursor: pointer;
    font-size: 14px;
    color: $brand-color;
    z-index: 0; // reset stacking context for select

    > ._name {
        display: block;
        margin-bottom: 5px;
        color: $dark-bluegray;
        font-weight: 500;
        font-size: 14px;
    }

    > ._selected-value {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid $dark-gray;
        padding: 10px;
        height: 30px;
        background: #fff;
        z-index: 1; // put above select
        pointer-events: none; // clicks to underlying select

        > ._icon {
            color: $dark-gray;
        }
    }

    > select {
        position: absolute;
        bottom: 0;
        left: 0;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        box-sizing: border-box;
        border: 0;
        width: 100%;
        height: 30px;
        cursor: pointer;
        background: none;
        font-size: inherit;
        font-family: inherit;

        &:focus {
            outline: none;
        }
    }
}
