@import '../theme.scss';

.linkedin-preview {
    box-shadow: 3px 3px 5px 1px rgba(160, 160, 160, 0.8);
    border: 1px solid $dark-bluegray;
    background-color: #fff;

    > ._brand-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 30px;
        background-color: $linkedin-blue;
        font-size: 20px;
    }

    > ._header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 12px 12px 0;

        > ._header-details {
            display: flex;
            flex-direction: row;
            align-items: center;

            > ._logo {
                margin-right: 10px;
                border-radius: 50%;
                width: 44px;
                height: 44px;
                background-image: url("./topcontacts-profile1.jpg");
                background-position: center;
                background-size: cover;
            }

            > ._text {
                display: flex;
                flex-direction: column;

                > ._name {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: $linkedin-black;
                    font-size: 14px;
                    font-weight: 600;

                    > svg {
                        color: $linkedin-blue;
                        margin-left: 5px;
                    }
                }

                > ._job-title {
                    color: $linkedin-dark-gray;
                    font-size: 12px;
                    font-weight: 400;
                }

                > ._timestamp {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: $linkedin-dark-gray;
                    font-size: 12px;
                    font-weight: 400;

                    > svg {
                        margin-left: 3px;
                        font-size: 10px;
                    }
                }
            }
        }

        > ._more {
            font-size: 20px;
            line-height: 1;
        }
    }

    > ._text {
        margin-bottom: 8px;
        padding: 0 16px;
        color: $linkedin-post-text;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    > ._image {
        height: 140px;
        background-color: $linkedin-medium-gray;

        > img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    > ._post-footer {
        padding: 0 16px;

        > ._likes-comments-shares-count {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 1px solid $linkedin-light-gray;
            padding: 8px 0;
            height: 20px;
            color: $linkedin-medium-gray;
            font-size: 12px;
            font-weight: 400;

            > ._likes {
                margin-right: 5px;

                &::after {
                    content: '\00B7';
                    margin-left: 5px;
                }
            }
        }

        > ._action-icons {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 0;
            height: 30px;

            > ._icon-group {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 15px;
                color: $linkedin-dark-gray;
                font-size: 13px;
                font-weight: 700;

                > svg {
                    margin-right: 3px;
                }
            }
        }
    }
}
