@import '../../theme.scss';

.file-upload-button {
    font-size: 12px;
    font-family: inherit;
    color: $cornflower-secondary-text-color;
    margin: 20px 0;

    > input {
        pointer-events: none;
        opacity: 0;
        width: 1px;
        height: 1px;
    }

    > label {
        background-color: $cornflower-brand-color;
        color: white;
        padding: 10px 50px;
        border-radius: 3px;

        &:hidden {
            pointer-events: none;
            opacity: 0;
            width: 1px;
            height: 1px;
        }

        &:hover {
            cursor: pointer;
        }

        &:active {
            border-radius: 0px;
            background-color: rgb(115, 183, 247)
        }
    }
}
