@import '../../theme.scss';

.cornflower-checkbox-input {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 18px;
    width: 18px;
    cursor: pointer;

    > input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        position: absolute;
        margin: 0;
        box-sizing: border-box;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    > ._icon {
        position: absolute;
        border: 1px solid $cornflower-tertiary-text-color;
        border-radius: 3px;
        box-sizing: border-box;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: white;
        color: white;
        font-size: 16px;
        pointer-events: none;
        line-height: 0.8;
    }

    > input[type="checkbox"]:checked + ._icon {
        border-color: $cornflower-brand-color;
        background-color: $cornflower-brand-color;
    }
}
