@import '../../theme.scss';

.inner-form-fields {
    list-style: none;
    padding: 0;
    margin: 0; // reset default style

    > li {
        margin: 0 0 15px;

        &:last-child {
            margin: 0;
        }

        > span > ._error-message {
            font-size: 18px;
            font-weight: 600;
            color: red;
        }
    }
}
