@import '../theme.scss';

.radio-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-right: 30px;
    padding-left: 30px;
    box-sizing: content-box;
    cursor: pointer;

    > input {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: absolute;

        &:focus {
            outline: none;
        }
    }

    > input + ._radio-input {
        position: absolute;
        left: 0;
        box-sizing: border-box;
        border: 1px solid $dark-gray;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: #fff;
    }

    > input:checked + ._radio-input {
        &::before {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            background-color: $dark-gray;
        }
    }

    > ._label-text {
        color: $dark-bluegray;
        font-weight: 500;
        font-size: 14px;
    }
}

.radio-input-group {
    > ._name {
        display: block;
        margin-bottom: 5px;
        color: $dark-bluegray;
        font-weight: 500;
        font-size: 14px;
    }

    > ._group {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
