@import '../theme.scss';

.text-input {
    span {
        display: block;
        color: $dark-bluegray;
        font-weight: 700;
        font-size: 20px;
    }

    input {
        border: none;
        display: block;
        width: 100%;
        height: $spacing;
        background: rgba(255, 255, 255, 0.9);
        border-bottom: 2px solid $dark-gray;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
        font-family: inherit;
    }
}
