<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Uprise</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<body style="font-family:Arial, Helvetica, sans-serif; font-weight: 500; margin: 20px;">
    <p>
        Attention <b>user_firstname user_lastname</b>,
    </p>
    <p>
        <b>distributor_name</b> is in great danger, and they need your help to make the <b>campaign_name</b> campaign a success!
    </p>
    <p>
        But to do this they need to get their message heard, and a couple of viral hits.
    </p> 
    <p>
        To help them all they need is your social media shares, likes, and support before the campaign's expiration month and year. (credit card not required)
    </p>
    <p>
        But, you've gotta be quick so that <b>distributor_name</b> can secure their goal by <b>campaign_launch_date</b> and achieve EPIC viral success.
    </p>
    <a href="#" style="text-decoration: none;">
        <div style="background-color:#6580ff; color:white; border-radius: 10px; padding: 20px; text-align: center">
            <b>Click Here to see the details and OPT-IN to this campaign</b>
        </div>
    </a>
    <hr/>

    <p style="color:#999b9e; font-size: 12px">
        Campaign hosted by <a href="https://www.uprise.ai/">Uprise.ai</a>, a smart software influencer marketing platform for optimizing viral success.
        <br/>
        <br/>
        This e-mail is intended only for the person or entitry to which it is addressed and is considered confidential, subject to copyright and may be legally privileged. 
        Any unauthorized use, review, copying, distribution, or disclosure is prohibited. 
        If you received this in error, please contact the sender and delete all copies of the e-mail together with any attachments.

    </p>
    
</body>
</html>